body {
  font-family: 'Roboto', sans-serif;
}
.corpo-bello {
  text-align: center;
}

.cover {
  padding: 2%;
  background-image: url('./../images/background-section1-3.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
